html, body {
	background: #ccc;
	margin: 0;
	padding: 0;
}

/*#ui-wrap {
}*/

#canvas2d {
	background: #ffffff;
	position: absolute; 
	border: 1px groove #ccc;
}

#canvas3d {
	border: 1px solid #ccc !important;
	z-index: 1;
}

#canvas2DOverlay {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#top-tools-container {
	background: #456;		/* #123 */
	margin: 3px auto;
	border-radius: 7px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#botom-tools-container {
	border: 1px dotted;
	border-top: 0;
	height: 40px;
	background: #def;
}

#projection_change {
	float: right;	
	font-family: Arial;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
}

#projection_select {
	font-size: 11px;
}

#view-change {
	font-size: 13px;
	font-family: Arial;
	float: right;
	padding: 5px;
}

#view-change input[type="checkbox"] {
	vertical-align: 4px !important;
	margin-left: 0px;
}


#view-change, #view-change label, #view-change input[type="checkbox"] {
	cursor: pointer;
}

#view_change_label img  {
	width: 27px;
	height: 25px;	
}

#shape-attribs {
	display: inline-block;
	padding-top: 5px;
	padding-left: 5px;
	border: 1px solid dotted;
}

#selected-shape {
	font-size: 15px;	
	font-family: Arial;
	margin-left: 10px;
}

#selected-shape-opacity {
	float: left;
	height: 30px;
	margin-left: 10px;
	margin-right: 20px;
}

#selected-shape-opacity-amount {
	text-align: center;
	height: 13px;
	width: 100px;
	border: 0;
}

#selected-shape-delete-btn {
	float: left;
	background: #fff;
	font-size: 11px;
	border-radius: 5px;
	padding: 5px;
	margin-left: 5px;
	margin-top: 5px;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    color: #222222;
}

.ui-slider-handle {
    width: 15px !important;
	height: 17px !important;
}

.ui-corner-all {
	height: 9px;
}

.ui-widget-header {
	background: #ccc !important;
}

._3DShape {
	display: none !important;
}

.top-tool {
	padding: 10px 25px;
	display: inline-block;
	border: 1px dotted #fff;
	border-right: none;
	border-top: none;
	border-bottom: none;
	/*transition: all ease-in 0.2s;*/
}

.top-tool:hover {
	cursor: pointer;
	background: #000;
}

.top-tool:last-child {
	border-right: 1px dotted #fff;
}

.top-tool:first-child {
	border-left: none;
}

.top-tool:first-child:hover {
	border-top-left-radius: 7px;
}

.top-tool-img {	
	width: 20px;
	height: 20px;	
}

.sub-tools {
	margin-top: 10px;
	cursor: pointer;
	position: absolute;
	margin-left: -25px;
	z-index: 99999;
	visibility: hidden;
}

.sub-tool {
	padding: 10px 25px !important;
	background: #456;
}

.tool-help  {
	display: none;
}

.active-subtool-help {
	display: none;
	position: absolute;
}

.displaynone { display: none; }

/*.sub-tools-help-container {
	margin-top: 10px;
	cursor: pointer;
	position: absolute;
	margin-left: -25px;
	z-index: 99999;
	visibility: visible;
}*/

.tool-help, .active-subtool-help {
	font-family: arial;
	font-size: 12px;
	font-family: arial;
	color: #fff;
	vertical-align: top;
	margin-left: 0px;
	padding: 5px;
	z-index: 999999;
	background: #123;
	border-radius: 5px;
	text-align: center;
}

.selected:first-child {
	border-radius: 7px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background: #000;
}

.selected {
	background: #000;
}

.buttons {
	text-align: center;
	color: #bbb;
	margin-right: 0;
	width: 70px;
	height: 35px;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
	background: #444;
	border-radius: 7px;
}

.buttons > span {
	font-size: 20px;
}

.buttons:hover {
	color: #fff;
}

/*@media screen and (max-width: 1300px) {
    .buttons {		
		float: none;
		display: inline-block;
	}
}*/